.carousel-slider__btns {
  margin-top: 2rem;
  display: flex;
  gap: 3rem;
}

.carousel-slider__btns .action-btn {
  font-size: 1.2rem;
}

.carousel-slider__btns .cart-btn {
  font-size: 1.2rem;
}

.game-card__btns {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem;
  padding-top: 0;
  position: absolute;
  top: 100%;
  background-color: var(--color-black-light);
  z-index: 5;
  border-radius: 0 0 0.3rem 0.3rem;
  width: 100%;
}
