.carousel-slider__price {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.cart__price {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.game__price--old {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: var(--color-grey-text);
}

.game-card__price .game__price--old {
  margin-left: 0.8rem;
}

.carousel-slider__price .game__price--old {
  color: white;
  margin-left: 1rem;
  font-size: 1.4rem;
}

.game__price--cut {
  font-size: 1.2rem;
  background-color: var(--color-primary-main);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
}

.game-card__price .game__price--cut {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-slider__price .game__price--cut {
  margin-left: 2rem;
  padding: 0.3rem 0.6rem;
  font-size: 1.4rem;
}

.game__release {
  font-size: 1.2rem;
}
