.game-card {
  border-radius: 0.3rem;
  background-color: var(--color-black-light);
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  box-sizing: border-box;
}

.game-card:hover {
  border-radius: 0;
  transform: scale(1.1);
  z-index: 5;
}

.game__image {
  border-radius: 0.3rem 0.3rem 0 0;
}

.game__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.2rem;
}

.game__title {
  font-size: 1.6rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.game__genre {
  font-size: 1.2rem;
  color: var(--color-grey-text);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.game__section {
  display: flex;
  justify-content: space-between;
}

.game__platforms {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.game__platforms svg {
  height: 1.4rem;
  width: 1.4rem;
  fill: var(--color-white);
}
