.carousel-slider {
  position: relative;
  height: 73vh;
  width: 70%;
}

.carousel-slider__figure {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: all 0.7s ease-out;
}
.carousel-slider__figure--active {
  visibility: visible;
  opacity: 1;
}

.carousel-slider__image {
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  object-fit: cover;
}

.carousel-slider__caption {
  position: absolute;
  left: 3rem;
  bottom: 5rem;
}
