.filter-btn {
  padding: 0.6rem 1rem;
  background-color: var(--color-primary);
  border-radius: 0.7rem;
}

.filter-btn:hover {
  background-color: var(--color-primary-dark);
}

.notification-btn {
  position: relative;
}

.notification-btn__number {
  position: absolute;
  top: -0.6rem;
  right: -0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: var(--color-red);
  font-size: 1rem;
}

.friends-btn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.friends-btn__number {
  font-size: 1.3rem;
}
