.sidebar {
  position: fixed;
  top: 5rem;
  left: 0;
  height: 100vh;
  width: 5.5rem;
  padding: 1rem 0;
  background-color: var(--color-black-light);
}

.side-nav__icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: var(--color-white);
}

@media (hover: hover) and (pointer: fine) {
  .side-nav__link:hover .side-nav__icon {
    fill: var(--color-primary-main);
  }
}

.side-nav__link--active .side-nav__icon {
  fill: var(--color-primary-main);
}

@media screen and (max-width: 600px) {
  .sidebar {
    height: 7.5rem;
    width: 100vw;
    top: initial;
    bottom: 0;
    z-index: 10;
    padding: 0;
  }
}
